@keyframes slideLeftAndRight {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(100% - 570px));
  }
}

input:disabled {
  background-color: lightgrey;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  min-height: 600px;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  min-height: 100%;
  min-width: 1200px;
  margin: 0;
}

.header,
.footer {
  color: white;
  background-color: orangered;
  border: 2px solid midnightblue;
}

.header {
  border-radius: 9px;
  position: relative;
  top: 3px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
  width: 99%;
  box-shadow: 0 10px 20px black;
}

.header ul {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  list-style-type: none;
}

.header ul li {
  font-weight: bold;
}

.header ul li:first-child {
  text-align: left;
  font-size: 17px;
  display: flex;
  align-items: center;
  height: 100%;
}

#clock {
  font-size: 15px;
}

#page_title {
  position: relative;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 10px;
}

.title_icon {
  background-color: powderblue;
  border: 3px solid midnightblue;
  border-radius: 18px;
  height: 40px;
  width: 40px;
  float: left;
}

.title_icon img {
  width: 40px;
  height: auto;
  margin: 0;
}

.header ul li:nth-child(2) {
  text-align: center;
  font-size: 23px;
  text-shadow: 0px 2px 1px black;
}

.header ul li:last-child {
  text-align: right;
  font-size: 12px;
}

.main {
  flex: 1;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.main {
  position: relative;
  width: 99%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.sidebar {
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(135deg, #00688a, steelblue);
  width: 200px;
  height: 100%;
  min-height: 450px;
  border-radius: 20px;
  box-shadow: 5px 0 10px black;
}

.sidebar h2 {
  color: darkgoldenrod;
  text-shadow: 0 4px 5px black;
  margin-top: 30px;
  margin-bottom: 0;
  text-align: center;
}

.sidebar ul {
  flex: 1;
  list-style: none;
  margin-left: 0;
  margin-right: 50px;
  margin-bottom: 30px;
  margin-top: 10px;
  line-height: 40px;
  position: relative;
}

.sidebar ul li a {
  position: relative;
  color: white;
  font-weight: bold;
  text-decoration: none;
  left: 0;
  transition: left 0.3s ease;
}

.sidebar ul li a:hover {
  color: lightgray;
  text-decoration: underline;
  left: 15px;
}

#border {
  border-bottom: 1px solid white;
}

.sidebar img {
  width: 60px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  transition: transform 0.3s ease;
}

.sidebar img:hover {
  transform: scale(1.2);
}

.sidebar p {
  color: white;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  margin: 5px 0 13px 0;
}

.footer {
  position: relative;
  bottom: 4px;
  border-radius: 8px;
  width: 99%;
  height: 23px;
  min-height: 23px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
}

.footer p {
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
  padding-left: 10px;
  margin-top: 5px;
  animation: slideLeftAndRight 10s infinite alternate ease-in-out;
}

#message_modal,
#alert-log {
  position: relative;
  background-color: palegoldenrod;
  border-radius: 20px;
  border: 1px solid black;
  font-style: italic;
  font-weight: bold;
  box-shadow: 3px 5px 0 black;
  height: 73px;
}

.messages {
  padding: 0;
  list-style: none;
}

#glitch {
  position: relative;
  transform: translateX(-50%);
  left: 50%;
  top: 3px;
  padding: 0;
  z-index: -1;
}

#glitch:hover {
  background-color: blue;
}

#glitch:active {
  background-color: midnightblue;
}

#close_modal,
#alert-log button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 12px 5px 12px;
  margin: 0;
  color: white;
  background-color: dodgerblue;
  border: none;
  border-radius: 5px;
}

#close_modal:hover,
#alert-log button:hover {
  background-color: cadetblue;
}

#close_modal:active,
#alert-log button:active {
  background-color: midnightblue;
}
