.content {
  position: relative;
  top: 10px;
  left: 250px;
  width: calc(100% - 340px);
  padding: 20px 20px 30px 20px;
  background-color: white;
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 5px 0 30px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

h1 {
  font-size: 30px;
  border-bottom: 2px dashed black;
  padding-bottom: 5px;
  margin: 0 0 20px 0;
  color: red;
  width: 100%;
  text-shadow: 1px 2px 1px black;
}

.view-dropdown-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#view-label,
#unit-label {
  font-weight: bold;
  font-size: 13px;
  color: indigo;
  margin-bottom: 5px;
}

#unit-label {
  margin-top: 10px;
}

#view-dropdown,
#unit-dropdown {
  background-color: white;
  border-left: 5px solid red;
  border-radius: 5px;
  height: 35.3px;
}

.scrollable-table-container {
  width: 100%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 5px black;
}

#analytics-table,
#predictions-table {
  width: 100%;
  background-color: black;
  border-radius: 5px;
}

.header-row {
  height: 30px;
  color: white;
  background-color: blue;
}

#analytics-table td,
#predictions-table td {
  text-align: center;
  background-color: white;
}

.separator {
  margin: 20px 0 20px 0;
  border-top: 2px dashed black;
  width: 100%;
}

.statistics-img {
  max-width: 100%;
}

.predictions-img {
  max-width: 100%;
}
