chemical_intake_website/__pycache__
chemical_intake_website/__init__.py

chemical_management/__pycache__
chemical_management/__init__.py

user_management/__pycache__
user_management/__init__.py
chemical_management/migrations/__pycache__
