{% extends "base/base.html" %}
{% block css_link %}
  {% load static %}
  <link type="text/css"
        href="{% static 'report_page/style.css' %}"
        rel="stylesheet" />
{% endblock %}
{% block title %}Report Page{% endblock %}
{% block main %}
  <div class="sidebar">
    <h2>Content Panel</h2>
    <ul>
      <li>
        <a href="{% url 'entryform' %}">Entry Page</a>
      </li>
      <li>
        <a href="{% url 'report' %}">Report Page</a>
      </li>
      <li>
        <a href="#">Settings</a>
      </li>
      <li>
        <a href="#">Logout</a>
      </li>
    </ul>
    <p id="border"></p>
    <img src="{% static 'base/images/iocl_no_subtext.png' %}" alt="IOCL_ICON">
    <p>
      Indian Oil Corporation
      <br>
      Limited
      <br>
      (Paradip Refinery)
    </p>
  </div>
  <ul class="content">
    <li>
      <p>Data Report Panel</p>
    </li>
    <form method="get">
      <li>
        <ul class="query">
          <li>
            <label for="unit">Select Unit: *</label>
            <select name="unit" id="unit">
              <option value=""  selected disabled>Select Unit</option>
              {% for unit in units %}<option value="{{ unit.value }}">{{ unit.text }}</option>{% endfor %}
            </select>
          </li>
          <li>
            <label for="chemical">Select Chemical: *</label>
            <select name="chemical" id="chemical">
              <option value="" selected disabled>Select Chemical</option>
              {% for chemical in chemicals %}<option value="{{ chemical.value }}">{{ chemical.text }}</option>{% endfor %}
            </select>
          </li>
          <li>
            <label for="start_date">Select Start Date: *</label>
            <input type="date" id="start_date" name="start_date" min="" max="">
          </li>
          <li>
            <label for="end_date">Select End Date: *</label>
            <input type="date" id="end_date" name="end_date" min="" max="">
          </li>
        </ul>
      </li>
      <li id="button_area">
        <div class="buttons">
          <button type="submit" name="submit" id="submit">Get Report</button>
          <button type="submit" name="clear" id="clear">Clear</button>
        </div>
      </li>
    </form>
  </ul>
  {% if show_table %}
    <table class="datasheet">
      <tr>
        <th>Date</th>
        <th>Opening Balance</th>
        <th>Reciept</th>
        <th>Consumption</th>
        <th>Closing Balance</th>
        <th>Stock Available in SAP</th>
        <th>Stock Available for no. of Days(Field+SAP)</th>
      </tr>
      {% for data in table %}
        <tr>
          <td>{{ data.date }}</td>
          <td>{{ data.opening_balance }}</td>
          <td>{{ data.reciept }}</td>
          <td>{{ data.consumption }}</td>
          <td>{{ data.closing_balance }}</td>
          <td>{{ data.sap }}</td>
          <td>{{ data.days_left }}</td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}
  <script src="{% static 'report_page/scripts.js' %}"></script>
{% endblock %}
