.content {
  position: relative;
  top: 10px;
  left: 250px;
  width: calc(100% - 340px);
  padding: 10px 10px 30px 10px;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 5px 0 30px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.content ul {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
}

.page-header {
  font-size: 20px;
  color: white;
  padding: 4px 0 6px 14px;
  background-color: blue;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  box-shadow: 0 5px 10px black;
}

.section-header {
  font-size: 20px;
  border-bottom: 2px dashed black;
  padding-bottom: 5px;
  padding-left: 10px;
  margin-top: 30px;
  color: red;
  width: calc(100% - 10px);
  font-weight: bold;
}

.color-section {
  padding: 20px 0 0 0;
  display: flex;
  justify-content: space-around;
}

.color-section button {
  width: 180px;
  height: 50px;
  border: none;
  border-radius: 10px;
  transition: width 0.3s ease;
}

.color-section button:hover {
  opacity: 0.7;
  width: 190px;
}

#antiquewhite-button {
  background-color: antiquewhite;
}

#lightyellow-button {
  background-color: lightyellow;
}

#aquamarine-button {
  background-color: aquamarine;
}

#teal-button {
  background-color: teal;
}

#gruv-button {
  background-color: #282828;
}

.database-settings button {
  background-color: blue;
  box-shadow: 0 4px 0 midnightblue;
  height: 30px;
  border: none;
  border-radius: 5px;
  color: white;
  margin-top: 20px;
  margin-left: 5px;
  padding: 2px 12px;
  position: relative;
  cursor: pointer;
  outline: none;
  font-weight: bold;
}

.database-settings button:active {
  position: relative;
  top: 4px;
  box-shadow: none;
}
