{% extends "base/base.html" %}
{% block css_link %}
  {% load static %}
  <link type="text/css"
        href="{% static 'analytics/style.css' %}"
        rel="stylesheet" />
{% endblock %}
{% block title %}Analytics Page{% endblock %}
{% block main %}
  <div class="content">
    <h1>Chemical Consumption Pattern Analysis And Predictions</h1>
    <div class="view-dropdown-container">
      <label for="view-dropdown" id="view-label">What do you want to see?</label>
      <select name="view-dropdown" id='view-dropdown'>
        <option value="analytics">Analytics</option>
        <option value="predictions">Predictions</option>
      </select>
      <label for="unit-label" id="unit-label">Select Unit:</label>
      <select name="unit-label" id='unit-dropdown'>
        <option value="" selected disabled>Select Unit</option>
        {% for unit in units %}<option value="{{ unit.unit_code }}">{{ unit.unit_name }}</option>{% endfor %}
        <option value="all">All</option>
      </select>
    </div>
    <p class="separator"></p>
    <div class="scrollable-table-container">
      <table id="analytics-table">
        <tr class="header-row">
          <th>Name</th>
          <th>Average Consumption (7 days)</th>
          <th>Current Stock</th>
          <th>Sap Stock</th>
          <th>Total Stock</th>
          <th>Coverage</th>
        </tr>
        {% for item in analytics_data %}
          <tr id="{{ item.id }}" class="analytics-table-row">
            <td>{{ item.chemical_name }} ({{ item.unit_name }})</td>
            <td>{{ item.avg_consumption }} {{ item.measure_unit }}</td>
            <td>{{ item.latest_closing_balance }} {{ item.measure_unit }}</td>
            <td>{{ item.latest_sap }} {{ item.measure_unit }}</td>
            <td>{{ item.total_stock }} {{ item.measure_unit }}</td>
            <td>{{ item.coverage }}</td>
          </tr>
        {% endfor %}
      </table>
      <table id="predictions-table" hidden>
        <tr class="header-row">
          <th>Chemicals</th>
          <th>Current Month</th>
          <th>Month 1</th>
          <th>Month 2</th>
          <th>Month 3</th>
        </tr>
        {% for item in analytics_data %}
          <tr id="{{ item.id }}" class="predictions-table-row">
            <td>{{ item.chemical_name }} ({{ item.unit_name }})</td>
            {% for pred in item.predictions %}<td>{{ pred }} {{ item.measure_unit }}</td>{% endfor %}
          </tr>
        {% endfor %}
      </table>
    </div>
    <p class="separator"></p>
    {% for item in analytics_charts %}
      <img src="data:image/png;base64,{{ item.analytics_chart }}"
           alt="STATISTICS_IMG"
           class="statistics-img"
           id="{{ item.id.0 }}">
    {% endfor %}
    {% for item in pred_charts %}
      <img src="data:image/png;base64,{{ item.pred_chart }}"
           alt="PREDICTION_IMG"
           class="predictions-img"
           id="{{ item.id.0 }}"
           hidden>
    {% endfor %}
  </div>
  <script src="{% static 'analytics/scripts.js' %}"></script>
{% endblock %}
