{% extends "base/base.html" %}
{% block css_link %}
  {% load static %}
  <link type="text/css"
        href="{% static 'monthly_report/style.css' %}"
        rel="stylesheet" />
{% endblock %}
{% block title %}Monthly Report Page{% endblock %}
{% block main %}
  <ul class="content">
    <li>
      <p>Monthly Data Report Panel</p>
    </li>
    <script>const data_json = {{ data_json|safe }};</script>
    <form method="POST" id="montly-form">
      {% csrf_token %}
      <li>
        <ul class="query">
          <li>
            <label for="unit">Select Unit: *</label>
            <select name="unit" id="unit">
              <option disabled selected value="">Select Unit</option>
            </select>
          </li>
          <script>const tooltip_data = {{ tooltip|safe }};</script>
          <li>
            <label for="chemical">Select Chemical: *</label>
            <select name="chemical" id="chemical">
              <option value="" selected disabled>Select Chemical</option>
            </select>
          </li>
          <li>
            <label for="select-month">Select Month: *</label>
            <select name="select-month" id="select-month">
              <option value="" selected disabled>Select Month</option>
              <option value="1">January</option>
              <option value="2">February</option>
              <option value="3">March</option>
              <option value="4">April</option>
              <option value="5">May</option>
              <option value="6">June</option>
              <option value="7">July</option>
              <option value="8">August</option>
              <option value="9">September</option>
              <option value="10">October</option>
              <option value="11">November</option>
              <option value="12">December</option>
            </select>
          </li>
        </ul>
      </li>
      <li id="button_area">
        <div class="buttons">
          <button type="submit" name="submit" id="submit">Get Report</button>
          <button type="reset" name="clear" id="clear">Clear</button>
        </div>
      </li>
    </form>
  </ul>
  <div id="tooltip" style="display: none; position: absolute;"></div>
  {% if show_table %}
    <p id="selection-details">
      Showing data for <span style="color: orangered;">{{ chem_context }}</span> in
      <span style="color: blue;">{{ unit_context }}</span> for
      <span style="color: green;">{{ month_context }}</span> month
    </p>
    <div class="scrollable-table-container">
      <table class="outer-table">
        <tr class="first-row">
          <th class="first-column">Chemical -></th>
          {% for chemical in records_with_dates.0.records %}
            <th class='chemical-column'>{{ chemical.chemical_name }}</th>
          {% endfor %}
        </tr>
        <tr class="second-row">
          <th class="first-column">Date</th>
          {% for chemical in records_with_dates.0.records %}
            <td>
              <table class="inner-table">
                <tr>
                  <th class="inner-first-column">
                    <p>Receive</p>
                  </th>
                  <th class="inner-second-column">
                    <p>Consumption</p>
                  </th>
                </tr>
              </table>
            </td>
          {% endfor %}
        </tr>
        {% for day_data in records_with_dates %}
          <tr>
            <td class='date-data'>{{ day_data.date }}</td>
            {% for record in day_data.records %}
              <td>
                <table class='inner-data-table'>
                  <tr>
                    <td class='inner-data-first-column'>
                      <p>{{ record.reciept }}</p>
                    </td>
                    <td class='inner-data-second-column'>
                      <p>{{ record.consumption }}</p>
                    </td>
                  </tr>
                </table>
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
        <tr class="second-last-row">
          <th class="first-column">Total</th>
          {% for summary in total_summary %}
            <td>
              <table class="inner-table">
                <tr>
                  <td class="inner-first-column">
                    <p>{{ summary.total_reciept }}</p>
                  </td>
                  <td class="inner-second-column">
                    <p>{{ summary.total_consumption }}</p>
                  </td>
                </tr>
              </table>
            </td>
          {% endfor %}
        </tr>
        <tr class="last-row">
          <td class="last-row-header">Closing Balance</td>
          {% for item in closing_balance_record %}<td>{{ item }}</td>{% endfor %}
        </tr>
      </table>
    </div>
  {% endif %}
  <script src="{% static 'monthly_report/scripts.js' %}"></script>
{% endblock %}
