{% extends "base/base.html" %}
{% block css_link %}
  {% load static %}
  <link type="text/css"
        href="{% static 'report_page/style.css' %}"
        rel="stylesheet" />
{% endblock %}
{% block title %}Report Page{% endblock %}
{% block main %}
  <ul class='report-button-list'>
    <li>
      <p>Report Views</p>
    </li>
    <li class="report-buttons">
      <button id="daily-report-button" type="submit">Go to Date-Wise Report</button>
    </li>
    <li class="report-buttons">
      <button id="monthly-report-button" type="submit">Go to Month-Wise Report</button>
    </li>
  </ul>
  <script src="{% static 'report_page/scripts.js' %}"></script>
{% endblock %}
