<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ page_title }}</title>
    {% load static %}
    <link type="text/css" href="{% static 'base/style.css' %}" rel="stylesheet" />
    {% block css_link %}{% endblock %}
  </head>
  <body>
    <div class="wrapper">
      <div class="header">
        <ul>
          <li>
            <div class="title_icon">
              <img src="{% static 'base/images/iocl.png' %}" alt="IOCL_LOGO" />
            </div>
            <p id="page_title">Daily Chemical Consumption Portal</p>
          </li>
          <li>Paradip Refinery</li>
          <li id="clock">{{ clock }}</li>
        </ul>
      </div>
      <div class="main">
        <div class="sidebar">
          <h2>Content Panel</h2>
          <ul>
            <li>
              <a href="{% url 'entryform' %}">Entry Page</a>
            </li>
            <li>
              <a href="{% url 'report' %}">Report Page</a>
            </li>
            <li>
              <a href="{% url 'analytics' %}">Analytics</a>
            </li>
            <li>
              <a href="{% url 'settings' %}">Settings</a>
            </li>
            <li>
              <a href="{% url 'user_logout' %}">Logout</a>
            </li>
          </ul>
          <p id="border"></p>
          <img src="{% static 'base/images/iocl_no_subtext.png' %}" alt="IOCL_ICON">
          <p>
            Indian Oil Corporation
            <br>
            Limited
            <br>
            (Paradip Refinery)
          </p>
        </div>
        {% block main %}<h1>Default Content</h1>{% endblock %}
      </div>
      <div class="footer">
        <p>"Thanks For Visiting Our Daily Chemical Consumption Entry Page Developed By IS Department"</p>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>
    <script>
      function updateClock() {
        document.getElementById('clock').textContent = 
          moment().format('dddd, D MMMM YYYY, h:mm:ss A');
      }
      updateClock();
      setInterval(updateClock, 1000);
    </script>
    {% if messages %}
      <dialog id="message_modal">
        <ul class="messages">
          {% for message in messages %}
            <li {% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
        </ul>
        <button id="glitch">lmao</button>
        <button id="close_modal">Close</button>
      </dialog>
      <script>
          document.addEventListener("DOMContentLoaded", function () {
            const messageModal = document.getElementById("message_modal");
            const closeModalButton = document.getElementById("close_modal");

            if (messageModal) {
              messageModal.showModal();

              closeModalButton.addEventListener("click", function () {
                messageModal.close();
              });

              messageModal.addEventListener("click", function (event) {
                if (event.target === messageModal) {
                  messageModal.close();
                }
              });
            }
          });
      </script>
    {% endif %}
  </body>
</html>
